<div class="row">

    <div class="col-lg-12">

        <form action="/test" method="post">

            <input type="text" value="{{id}}" name="userId" style="display: none">

            {{#each questionGroup.questions}}
            <h5>{{this.question}}</h5>
            <div>
                <fieldset id="{{this._id}}" class="m-4">

                    {{#each this.answers}}

                    <input type="radio" name="{{this.answer}}" id="{{this.answer}}" autocomplete="off" value="{{this.answer}}" required>
                    <label for="{{this.answer}}">{{this.answer}}</label>
                    <br>

                    {{/each}}

                </fieldset>

            </div>
            {{/each}}

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

</div>