<div class="row">

    <div class="col-lg-12">

        <h2>{{questionGroup.type}}</h2>

        <form action="/questionnaire" method="post">

            <input type="text" value="{{name}}" name="name" style="display: none">
            <input type="text" value="{{step}}" name="step" style="display: none">

            {{#each questionGroup.questions}}
            <h5>{{this.question}}</h5>
            <div>
                <fieldset id="{{this._id}}" class="m-4">

                    {{#each this.answers}}

                    <label>
                        <input type="radio" name="{{../_id}}" id="{{this.answer}}" autocomplete="off"
                            value="{{this.answer}}" required>
                        {{this.answer}}
                    </label>
                    <br>

                    {{/each}}

                </fieldset>

            </div>
            {{/each}}

            <div class="text-right">
                {{#if isLastStep}}
                <button type="submit" class="btn btn-primary">Submit</button>
                {{else}}
                <button type="submit" class="btn btn-primary">Next</button>
                {{/if}}

            </div>

        </form>
    </div>

</div>